*{

padding:0;
margin:0;

}


.nav_bar{
    background-color: rgba(19, 9, 56, 0.281);
    display: flex;
    flex-direction: row;
justify-content: right;
justify-content: space-around;
    height: 60px;
    width: 100%;
    align-items: center;
}
.home
{
    display: flex;
    height: 70px;
    width: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background:linear-gradient(rgba(14, 4, 4, 0.884), rgba(7, 6, 6, 0.89)), url(710536.jpg); 

}
.container-word p{
    display: flex;
    height: 70px;
    width: 250px;
    margin-left: .7rem;
    size: 200px;
    color:white ;
    padding: 5rem 0 0 5rem;
    animation-name: test;
    animation-duration: 4s;
    animation-delay: 3s;
}
 .container-image img{

    margin-left: 50rem;
  
    height: 400px;
    width: 400px;
    border-radius: 50%;
    padding: 0 0 0 0rem;
    opacity: 1;
}
.service{
    display: flex;
    padding-top: 0rem;
}
.service p {
    font-size: 20px;
    padding-left: 30px;
}
.designer{
    background-color: #140E0E;
    color: white;
}
.development{
    background-color: #3D1111;
    color: white;
    height: 80vh;
}
.coding{
    background-color: #736f6f;
    color: white;
}

.coding p{
    padding-top: 5rem;
}
.development p{
    padding-top: 5rem;
}
.designer p{
    padding-top: 5rem;
}
.designer h1 {
    padding-top: 2rem;
    padding: 2rem;
}
.development h1 {
    padding-top: 2rem;
    padding: 2rem;
}
.coding h1 {
    padding-top: 2rem;
    padding: 2rem;
}
.about_me h1{
    padding-left: 50rem;
    padding-top: 0rem;
   
}
.about_me p {
    padding-left: 50rem;
    padding-top: 0rem;
}
.about_me div {
    padding-left: 10rem;
    border-radius: 50%;
}
img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.about_me{
    height: 90vh;
    background-color: rgb(10, 7, 7);
    color: white;
    padding-top: 1rem;
    
}
.skills {
    /* display: flex; */
    background-color: #1A0D0D;
    font-size: medium;
    color: white;
    height: 100vh;
    justify-content: space-between;
}
.skills div{
    /* padding-top: 100px;
    padding-left: 1rem;
    margin: 0px; */
    font-size: 20px;
}
.skills mymy_skills{
    padding-left: 0%;
    font-size: 400px;
    justify-content: space-around;
}
.skills div h1{
padding-top: 0rem;

}
.skills div h1 h1 {
    padding-top: 4rem;

}
.course-content{
    display: flex;
    padding-bottom: 4rem;
    padding-left: 7rem;
}
.course-content p{
    padding-left: 7rem;
    padding-left: 10rem;
}
.horizontal{
    display: flex;
    padding-left: 3rem;
    padding-top: 4rem;
}
.horizontal my_skills{

}
.skills h1{
    padding-left: 2rem;
    justify-items: center;
}
.post{
color: white;
width: 30%;
margin-left: 1rem;
text-align: left;
gap: 5rem;

}
.check{
    font-size: 30px;
    color: white;
}
.fa-bars{
    font-size: 20px;
    color: aqua;
    width: 100px;
}